.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.title{
  text-align: center;
  color: white;
  font-weight:Bold;
  font-size: 100px;
  font-family: Helvetica, sans-serif;
}

.google{
  text-align:center;
  color:white;
}

.loggedIn{
  text-align:right;
  color:white;
}


body{
  background: url("chessImage.jpg") no-repeat center center fixed;
  position:absolute;
  width:100%;
  top:0;
  left:0;
}

.Page2{
  color:white;
}

.database-info{
  color:white;
}

.database-info-holder{
  text-align:center;
}

.chat{
  text-align:right;
}
.board{
  text-align:center;
}

h2{
  color:white;
}