# This is a basic workflow to help you get started with Actions

name: Python Server CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the ci-demo branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
       
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
          
      - name: Install dependencies
        run: pip install -r requirements.txt
        
      - name: Install pylint
        run: pip install pylint
        
      - name: Create pylintrc file
        run: touch .pylintrc
        
      - name: Remove specific errors
        run: printf "[MESSAGES CONTROL]\ndisable= E1101, R0903, W1508, W0603" > .pylintrc
        
      - name: Lint files
        run: pylint app.py
        
      - name: Run unmocked tests
        run: python -m unittest tests/unmocked/unit_tests.py
        
      - name: Run mocked tests
        run: python -m unittest tests/mocked/mocked_test.py
